[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.18.3"
opencv-python = "*"
pytest = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest"
